<!-- begin #about -->
<!-- begin container -->
<div id="about" class="content" data-scrollview="true">
    <div class="container" data-animation="true" data-animation-type="fadeInDown">
      <p class="content-desc">
          <h2 class="content-title">About Us</h2>
          <br/>
          <br/>

          <h4>
            <span class="logo"><b>Applego&trade;</b></span> is a IT consultancy and software services provider headquotered in Prague, Czech Republic.
            <br>
            <br>          
            In recent decade we were focused mainly on financial institutions and insurance industry, but we successfuly delivered solutions to governance and trade organizations.
            In our daily work we always aim to find the precise blend of technology and business innovation according to the customer strategy and needs.
          </h4>
            <!--
              Our consultants attitude
              Our filosophy
              Conservative grouth
              Ethic codex
            -->  
      </p>

      <!-- begin row -->
      <div class="row">
        <!-- begin col-4 -->
        <div class="col-md-4 col-sm-6">
          <!-- begin about -->
          <div class="about">
            <h3>Our Story</h3>
            <p>
              <h4>
              Applego was founded in 2004.
              Since then we helped a number of clients to fulfill their needs of SW engeneering and business analysis.   
              <br/>
              <br/>
              We work with major IT services providers like Accenture, Aquasoft, Raventia and others.
              <br/>
              <br/>
              Please consult the list of our <a ui-sref="/services">services</a> and <a ui-sref="/offers">offers</a> 
            
              </h4>            
            </p>
          </div>
          <!-- end about -->
        </div>
        <!-- end col-4 -->
        <!-- begin col-4 -->
        <div class="col-md-4 col-sm-6">
          <h3>Our Philosophy</h3>
          <!-- begin about-author -->
          <div class="about-author">
            <!--<div class="quote bg-silver">-->
              <!--<i class="fa fa-quote-left"></i>-->
              <p>
              <h4>
                We strive to be the Reliable IT partner for Your Business.
                <br/>
                <br/>
                We do believe that success is a function of knowledge, experience and a looot of hard work.                 
                <br/>
                <br/>
                To rephrase Mr. Thomas Eddison's sentence:<i><b>"Opportunity is missed by most people because it is dressed in overalls and looks like work."</b></i>
                <br/>
                <br/>
                <a ui-sref="services">Read more ...</a>
                <a ui-sref="blog">Read more ...</a>
                
              </h4>
            </p>
              <!--<i class="fa fa-quote-right"></i>-->
            </div>
            <div class="author">
              <div class="image">
                <img src="img/me-li.jpeg" alt="Pavlin Zahariev" />
              </div>
              <div class="info">
                Pavlin Zahariev
                <small>CEO</small>
              </div>
            </div>
          <!--</div>-->
          <!-- end about-author -->
        </div>
        <!-- end col-4 -->
        <!-- begin col-4 -->
        <div class="col-md-4 col-sm-12">
          <h3>Our Experience</h3>
          <!-- begin skills -->
          <div class="skills">
            
            <div class="skills-name">Business analysis</div>
              <div class="progress progress-striped">
                <span >something</span>
                <span class="progress-number">95%</span>
                <!-- <div class="progress-bar progress-bar-success" style="width: 95%">
                  
                </div> -->
            </div>
            
            <div class="skills-name">Technical analysis</div>
            <div class="progress progress-striped">
                <span >something</span>
                <span class="progress-number">95%</span>
                <!-- <div class="progress-bar progress-bar-success" style="width: 95%">
                  <span class="progress-number">95%</span>
                </div> -->
            </div>
           
            <div class="skills-name">Agile coaching</div>
              <div class="progress progress-striped">
                  <span >something</span>
                  <span class="progress-number">95%</span>
                  <!-- <div class="progress-bar progress-bar-success" style="width: 95%">
                  <span class="progress-number">95%</span>
                </div> -->
            </div>

            <div class="skills-name">API management</div>
            <div class="progress progress-striped">
                <span >something</span>
                <span class="progress-number">95%</span>
              <!-- <div class="progress-bar progress-bar-success" style="width: 80%">
                <span class="progress-number">80%</span>
              </div> -->
            </div>
 
            <div class="skills-name">Programming</div>
            <div class="progress progress-striped">
                <span >something</span>
                <span class="progress-number">95%</span>
              <!-- <div class="progress-bar progress-bar-success" style="width: 90%">
                <span class="progress-number">90%</span>
              </div> -->
            </div>
            
            <div class="skills-name">Database Design</div>
            <div class="progress progress-striped">
                <span >something</span>
                <span class="progress-number">95%</span>
              <!-- <div class="progress-bar progress-bar-success" style="width: 85%">
                <span class="progress-number">85%</span>
              </div> -->
            </div>
            
            
          </div>
          <!-- end skills -->
        
        </div>
        <!-- end col-4 -->
      </div>
      <!-- end row -->
      <p>
          <h4>
            <br/>
            <br>
              Our team is ready do analyze your IT needs and provide IT expertise and development services to help your organization to achieve businesses advantage on your respective markets. 
            <!--best fit sustainable solution for your business.-->
            <br/>
            <br>
          </h4>
      </p>
    </div>
    <!-- end container -->
    </div>
</div>
<!-- end #about -->
