<!-- begin #about -->
<!-- begin container -->
<div id="about" class="content" data-scrollview="true">
    <div class="container" data-animation="true" data-animation-type="fadeInDown">
      <p class="content-desc">
          <h2 class="content-title">About Us</h2>

          <br/>
          <br/>
          <br/>
      <h4>
        Applego is an IT consultancy headquotered in Prague, Czech republic. <br />
        <br>
          We provide IT expertise and development services to help our clients achieve businesses advantage on their respective markets.
          <br/>
          In recent decade we were focused mainly on financial institutions and insurance industry, but we successfuly delivered solutions to governance and trade organizations.
          In our daily work we always aim to find the precise blend of technology and business innovation according to the customer strategy and needs.
      </h4>
        <!--
          Our consultants attitude
        Our filosophy
        Conservative grouth
        Ethic codex
        -->  
      </p>
      <!-- begin row -->
      <div class="row">
        <!-- begin col-4 -->
        <div class="col-md-4 col-sm-6">
          <!-- begin about -->
          <div class="about">
            <h3>Our Story</h3>
            <p>
              <h4>
              Applego was founded in 2004.
              Since then we helped a number of clients to fulfill their needs of SW engeneering and business analysis.   
              We work with major IT services providers like Accenture, Deloite, Aquasoft and others.
              <br/>
              Please consult the list of our <a href="#/services">services</a> and <a href="#/offers">offers</a> 
            
              </h4>            
            </p>
          </div>
          <!-- end about -->
        </div>
        <!-- end col-4 -->
        <!-- begin col-4 -->
        <div class="col-md-4 col-sm-6">
          <h3>Our Philosophy</h3>
          <!-- begin about-author -->
          <div class="about-author">
            <!--<div class="quote bg-silver">-->
              <!--<i class="fa fa-quote-left"></i>-->
              <h4>
                We do see SW as both - a tool and spirit. 
                <br/>As a tool it should be selected or built carefully, then maintained properly and innovated regularly to serve its purpose and improve quality and productivity. <br />
                <br/>Spirit is even more important as it gives organization distinctstive value and advantage against competitors, who use similar tools. Even best possible tool can be dangerous or at least not usefull if it doesn't reflect the organization philosophy and strategy.
                Does it mean that each and every organization has to own different custom made SW? No! SW must be written in such a way to serve and power multiple businesses as long as possible, provided that it can be fine tuned and adapted to concrete models and processes.
                <br/>
                <br/>We do believe that success is a function of knowledge, experience and a lot of hard work.                 
                <br/>
                <br/>To rephrase Mr. Thomas Eddison's sentence:<i><b>"Opportunity is missed by most people because it is dressed in overalls and looks like work."</b></i>
                <br/>
                <br/>
                We do believe that writing new SW applications everytime when new feature is needed, is environment unfrendly and dangerous behavior. This way organizations often operate feature redundant systems which even if not used, reserve and consume power and resources.
                  <ul>
                    <li>Developing new piece of SW is expensive as of time and resources consumption. It takes 2 to 12 months in average to bring to live medium scale system.</li>
                    <li>Operating an other piece of SW is expensive as for energy consumption, corresponding HW reources allocation, maintenance and support Every single electron to power duplicated functionality is a environment killer.</li>
                    <li>Creating more  and more SW, employes some of the best brains of the planet.  
                    Now imagine how much spirit and knowledge is wasted. These armadas could produce something more valuable. 
                  </li>
                  </ul>
                  It is not to say we don't love developing new SW. We often apeal to our customers to think wisely about evey feature proposal and its realization.  
                  <!-- 
                   This year, next year and following years. 
                  if done in "avalanche way", i.e. cumulating all the pieces met on the path. This way  
                 -->
              </h4>
              <!--<i class="fa fa-quote-right"></i>-->
            </div>
            <div class="author">
              <div class="image">
                <img src="img/me-li.jpeg" alt="Pavlin Zahariev" />
              </div>
              <div class="info">
                Pavlin Zahariev
                <small>CEO</small>
              </div>
            </div>
          <!--</div>-->
          <!-- end about-author -->
        </div>
        <!-- end col-4 -->
        <!-- begin col-4 -->
        <div class="col-md-4 col-sm-12">
          <h3>Our Experience</h3>
          <!-- begin skills -->
          <div class="skills">
            
            <div class="skills-name">Business analysis</div>
              <div class="progress progress-striped">
                <!--<div class="progress-bar progress-bar-success" style="width: 95%">
                  <span class="progress-number">95%</span>
                </div>-->
            </div>
            
            <div class="skills-name">Technical analysis</div>
            <div class="progress progress-striped">
                <!-- <div class="progress-bar progress-bar-success" style="width: 95%">
                  <span class="progress-number">95%</span>
                </div> -->
            </div>
           
            <div class="skills-name">Agile coaching</div>
              <div class="progress progress-striped">
                <!-- <div class="progress-bar progress-bar-success" style="width: 95%">
                  <span class="progress-number">95%</span>
                </div> -->
            </div>

            <div class="skills-name">API management</div>
            <div class="progress progress-striped">
              <!-- <div class="progress-bar progress-bar-success" style="width: 80%">
                <span class="progress-number">80%</span>
              </div> -->
            </div>
 
            <div class="skills-name">Programming</div>
            <div class="progress progress-striped">
              <!-- <div class="progress-bar progress-bar-success" style="width: 90%">
                <span class="progress-number">90%</span>
              </div> -->
            </div>
            
            <div class="skills-name">Database Design</div>
            <div class="progress progress-striped">
              <!-- <div class="progress-bar progress-bar-success" style="width: 85%">
                <span class="progress-number">85%</span>
              </div> -->
            </div>
            
            
          </div>
          <!-- end skills -->
        </div>
        <!-- end col-4 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
    </div>
</div>
<!-- end #about -->
