<!-- begin #client -->
<div id="services" class="content" data-scrollview="true">

  <!-- begin content-bg -->
  <div class="content-bg">
    <!-- <img src="img/client-bg.jpg" alt="Client" /> -->
    <!-- <img src="img/api-dev_2.png"  alt="Client"/> -->
  </div>
  <!-- end content-bg -->

  <!-- begin container -->
  <div class="container" data-animation="true" data-animation-type="fadeInUp">
    <h2 class="content-title">Our services
        <br/><img src="img/Under-Construction-Transparent-180x180.png" height="130" width="180"></img>
    </h2>

    <!-- begin carousel -->
    <div id="myCarousel1" class="carousel slide" data-ride="carousel" data-interval="2000">

      <!-- begin carousel-indicators -->
      <ol class="carousel-indicators">
          <li data-target="#services" data-slide-to="0" class="active"></li>
          <li data-target="#services" data-slide-to="1" class=""></li>
          <li data-target="#services" data-slide-to="2" class=""></li>
      </ol>
      <!-- end carousel-indicators -->

      <!-- begin carousel-inner -->
      <div class="carousel-inner text-center" role="listbox">
        <!-- begin item -->
        <div class="item active">
          <div class="name"> — <span class="text-theme"><h3>UX Design & Testing</h3></span></div>
          <!-- <blockquote> -->
            <!-- <i class="fa fa-quote-left"></i> -->
          <h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce viverra, nulla ut interdum fringilla,<br />
            urna massa cursus lectus, eget rutrum lectus neque non ex.
          </h4>
            <!-- <i class="fa fa-quote-right"></i> -->
          <!-- </blockquote> -->
        </div>
        <!-- end item -->
        <!-- begin item -->
        <div class="item">
          <div class="name"> — <span class="text-theme"><h3>Development</h3></span></div>
          <!-- <blockquote> -->
            <!-- <i class="fa fa-quote-left"></i> -->
          <h4>
            Donec cursus ligula at ante vulputate laoreet. Nulla egestas sit amet lorem non bibendum.<br />
            Nulla eget risus velit. Pellentesque tincidunt velit vitae tincidunt finibus.
          </h4>
            <!-- <i class="fa fa-quote-right"></i> -->
          <!-- </blockquote> -->
        </div>
        <!-- end item -->
        <!-- begin item -->
        <div class="item">
          <div class="name"> — <span class="text-theme"><h3>Architeture</h3></span></div>
          <!-- <blockquote> -->
            <!-- <i class="fa fa-quote-left"></i> -->
          <h4>
            Sed tincidunt quis est sed ultrices. Sed feugiat auctor ipsum, sit amet accumsan elit vestibulum<br />
            fringilla. In sollicitudin ac ligula eget vestibulum.
          </h4>
            <!-- <i class="fa fa-quote-right"></i> -->
          <!-- </blockquote> -->
        </div>
        <!-- end item -->
      </div>
      <!-- end carousel-inner -->
      
      <!-- <a class="left carousel-control" href="#services" role="button" data-slide="prev"> -->
        <a class="left carousel-control" data-slide="prev" data-hover="{{'views.header.menu.Services' | translate}}" >
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control"  data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>

    </div>
    <!-- end carousel -->
  </div>
  <!-- end containter -->
</div>
<!-- end #client -->
