<!-- begin #client -->
<div id="services" class="content" data-scrollview="true">

  <!-- begin container -->
  <div class="container" data-animation="true" data-animation-type="fadeInUp">

      <!-- <div>
          <h2 class="content-title" title=" Please select appropriate tab based on your industry.">
              <span>Our services</span>
              <br/><img src="img/Under-Construction-Transparent-180x180.png" height="130" width="180"></img>
          </h2>    
      </div> -->
      <div id="announcement">
        <center>
            <p><marquee>Latest News: WEBSITE IS STILL UNDER MAINTENANCE!</marquee></p>
        </center>
    </div>
    
      <!-- begin row -->
      <div class="row">
            <!-- begin col-12 -->
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="offerTabs">
                    <li class="active"><a data-target="#nav-tab-services-analysis" data-toggle="tab">Analysis</a></li>
                    <li><a data-target="#nav-tab-services-arch" data-toggle="tab">Archtecture</a></li>
                    <li><a data-target="#nav-tab-services-dev" data-toggle="tab">Development</a></li>
                    <li><a data-target="#nav-tab-services-test" data-toggle="tab">Quality</a></li>
                    <li><a data-target="#nav-tab-services-support" data-toggle="tab">Support</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade active in" id="nav-tab-services-analysis">
                        <h3 class="m-t-10">Business analysis</h3>
                        <p>
                            You need to achieve new goals or strengthen agains new challenges, legislation changes, competitors approaching your market share, you name it.
                            <br/>Your organization reached maximum staff count and you have to wait months to get a new FTE for your deparment approved.
                            <br/>
                            We can help in several ways:
                             <ul>
                                 <li>Provide necessary man power to perform business alanlysis under your guidance</li>
                                 <li>Provide whole team and deliver solution upon well defined requirements</li>
                             </ul> 
                            It is surely necessary to initially understand your needs, buinsess model and operations model.
                            This is a prerequisite to start improving your business activities, by better knowing your week points and strengths. 
                            Our experience is that very oftenm organizations don't have formaly specified OM.
                            While it is not necessary for smaller organizations to put down on papier tens or hundreds of pages describing what they do and how they do it,
                            it is wise to have a strategy and vision, backed up by well formed organization and well structured processes to fulfill the strategy and vision objectives.
                            
                            We will use best tools and practices to analyse current state of your busness, then find the week points and finally propose necessary improvements in processes, data management and organization to acheve your next goals.                               
                        </p>
                        <p class="text-right m-b-0">
                            <a data-hover="{{'read_more.command.tooltip' | translate}}" ui-sref="busan" class="btn btn-white m-r-5">{{"read_more.command.title" |  translate}}</a>
                            <a data-hover="{{'contact_me.command.tooltip' | translate}}" ui-sref="contactme" class="btn btn-primary">{{"contact_me.command.title" | translate}}</a>
                        </p>    
                        <h3 class="m-t-10">Technical analysis</h3>
                        <p>
                                If you already identified your needs and defined your business requirements, it is the right time to analyse IT assets and design the best fit solution. 
                                Your technology infrastructure, data, security, software tools and support deserve closer look and design perfection before you start implementing next steps of your IT strategy.     
                            </p>
                            <p class="text-right m-b-0">
                                <a data-hover="{{'read_more.command.tooltip' | translate}}" ui-sref="techan" class="btn btn-white m-r-5">{{"read_more.command.title" |  translate}}</a>
                                <a data-hover="{{'contact_me.command.tooltip' | translate}}" ui-sref="contactme" class="btn btn-primary">{{"contact_me.command.title" | translate}}</a>                            
                        </p>
                    </div>

                    <div class="tab-pane fade" id="nav-tab-services-arch">
                        <h3 class="m-t-10">Archtecture</h3>
                        <p>
                            '\'/,Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Integer ac dui eu felis hendrerit lobortis. Phasellus elementum, nibh eget adipiscing porttitor, 
                            est diam sagittis orci, a ornare nisi quam elementum tortor. 
                            Proin interdum ante porta est convallis dapibus dictum in nibh. 
                            Aenean quis massa congue metus mollis fermentum eget et tellus. 
                            Aenean tincidunt, mauris ut dignissim lacinia, nisi urna consectetur sapien, 
                            nec eleifend orci eros id lectus.
                        </p>
                        <p class="text-right m-b-0">
                            <a data-hover="{{'read_more.command.tooltip' | translate}}" ui-sref="arch" class="btn btn-white m-r-5">{{"read_more.command.title" |  translate}}</a>
                            <a data-hover="{{'contact_me.command.tooltip' | translate}}" ui-sref="contactme" class="btn btn-primary">{{"contact_me.command.title" | translate}}</a>                            
                    </p>
                    </div>

                    <div class="tab-pane fade" id="nav-tab-services-dev">
                        <h3 class="m-t-10">Development</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Integer ac dui eu felis hendrerit lobortis. Phasellus elementum, nibh eget adipiscing porttitor, 
                            est diam sagittis orci, a ornare nisi quam elementum tortor. 
                            Proin interdum ante porta est convallis dapibus dictum in nibh. 
                            Aenean quis massa congue metus mollis fermentum eget et tellus. 
                            Aenean tincidunt, mauris ut dignissim lacinia, nisi urna consectetur sapien, 
                            nec eleifend orci eros id lectus.
                        </p>
                        <p class="text-right m-b-0">
                            <a data-hover="{{'read_more.command.tooltip' | translate}}" ui-sref="dev" class="btn btn-white m-r-5">{{"read_more.command.title" |  translate}}</a>
                            <a data-hover="{{'contact_me.command.tooltip' | translate}}" ui-sref="contactme" class="btn btn-primary">{{"contact_me.command.title" | translate}}</a>                            
                    </p>
                    </div>

                    <div class="tab-pane fade" id="nav-tab-services-test">
                        <h3 class="m-t-10">Testing</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Integer ac dui eu felis hendrerit lobortis. Phasellus elementum, nibh eget adipiscing porttitor, 
                            est diam sagittis orci, a ornare nisi quam elementum tortor. 
                            Proin interdum ante porta est convallis dapibus dictum in nibh. 
                            Aenea=]
                        
                        \    n quis massa congue metus mollis fermentum eget et tellus. 
                            Aenean tincidunt, mauris ut dignissim lacinia, nisi urna consectetur sapien, 
                            nec eleifend orci eros id lectus.
                        </p>
                        <p class="text-right m-b-0">
                            <a data-hover="{{'read_more.command.tooltip' | translate}}" ui-sref="test" class="btn btn-white m-r-5">{{"read_more.command.title" |  translate}}</a>
                            <a data-hover="{{'contact_me.command.tooltip' | translate}}" ui-sref="contactme" class="btn btn-primary">{{"contact_me.command.title" | translate}}</a>                            
                        </p>
    
                        <h3 class="m-t-10">UX, DX</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Integer ac dui eu felis hendrerit lobortis. Phasellus elementum, nibh eget adipiscing porttitor, 
                            est diam sagittis orci, a ornare nisi quam elementum tortor. 
                            Proin interdum ante porta est convallis dapibus dictum in nibh. 
                            Aenean quis massa congue metus mollis fermentum eget et tellus. 
                            Aenean tincidunt, mauris ut dignissim lacinia, nisi urna consectetur sapien, 
                            nec eleifend orci eros id lectus.
                        </p>
                        <p class="text-right m-b-0">
                            <a data-hover="{{'read_more.command.tooltip' | translate}}" ui-sref="uxdx" class="btn btn-white m-r-5">{{"read_more.command.title" |  translate}}</a>
                            <a data-hover="{{'contact_me.command.tooltip' | translate}}" ui-sref="contactme" class="btn btn-primary">{{"contact_me.command.title" | translate}}</a>                            
                    </p>
                    </div>

                    <div class="tab-pane fade" id="nav-tab-services-support">
                        <h3 class="m-t-10">Support</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Integer ac dui eu felis hendrerit lobortis. Phasellus elementum, nibh eget adipiscing porttitor, 
                            est diam sagittis orci, a ornare nisi quam elementum tortor. 
                            Proin interdum ante porta est convallis dapibus dictum in nibh. 
                            Aenean quis massa congue metus mollis fermentum eget et tellus. 
                            Aenean tincidunt, mauris ut dignissim lacinia, nisi urna consectetur sapien, 
                            nec eleifend orci eros id lectus.
                        </p>
                        <p class="text-right m-b-0">
                            <a data-hover="{{'read_more.command.tooltip' | translate}}" ui-sref="support" class="btn btn-white m-r-5">{{"read_more.command.title" |  translate}}</a>
                            <a data-hover="{{'contact_me.command.tooltip' | translate}}" ui-sref="contactme" class="btn btn-primary">{{"contact_me.command.title" | translate}}</a>                            
                    </p>
                    </div>

                  </div>
                </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end containter -->            
</div>
<!-- end #client -->

