<div id="solutions" class="content" data-scrollview="true">

  <!-- begin content-bg -->
    <!-- <div class="content-bg">
      < ! - <img src="img/client-bg.jpg" alt="Client" /> - - >
      < ! - - <img src="img/api-dev_2.png"  alt="Client"/> - - >
    </div> -->
    <!-- end content-bg -->

    <!-- begin container -->
    <div class="container" data-animation="true" data-animation-type="fadeInUp">
 
        <!-- begin page-header -->
        <!-- <div>
            <h2 class="content-title" title=" Please select appropriate tab based on your industry.">
                  <span>Solutions for your needs</span>
                  <br/><img src="img/Under-Construction-Transparent-180x180.png" height="130" width="180"></img>
            </h2>    
        </div> -->
        
        <!--
            <div id="announcement">
            <center>
                <p><marquee>Latest News: WEBSITE IS STILL UNDER MAINTENANCE!</marquee></p>
            </center>
        </div>
        -->

        <!-- begin row -->
        <div class="row">
            <!-- begin col-12 -->
                <div class="col-md-12">
                    <ul class="nav nav-tabs" id="soluTabs">
                        <li class="active"><a data-target="#nav-tab-solutions-psdob" data-toggle="tab">PSD2 / Open Banking</a></li>
                        <li><a data-target="#nav-tab-solutions-api" data-toggle="tab">API Management</a></li>
                        <li><a data-target="#nav-tab-solutions-iam" data-toggle="tab">Identity and Acceess Management</a></li> 
                    </ul>
          
                    <div class="tab-content">         
                        <div class="tab-pane fade" id="nav-tab-solutions-psdob">
                            <h3 class="m-t-10">PSD2 / Open Banking</h3>
                                <span class="m-t-10"><b>PSD2</b></span>
                                <p>
                                Banks and fintechs are semaingly on the both sides of the border. We know that new business models emerge and partnership is the key to simultineous success.
                                Let us discuss with you your strategy and plans and we may find together best way to protect your customers and your business. <br />
                                </p>
                                <br/>
                                <b>Third Party Governance</b>                            
                                
                            <p class="text-right m-b-0">
                                <a data-hover="{{'read_more.command.tooltip' | translate}}" ui-sref="psd" class="btn btn-white m-r-5">{{"read_more.command.title" |  translate}}</a>
                                <a data-hover="{{'contact_me.command.tooltip' | translate}}" ui-sref="contactme" class="btn btn-primary">{{"contact_me.command.title" | translate}}</a>                            
                            </p>
                        </div>

                        <div class="tab-pane fade in" id="nav-tab-solutions-api">
                            <h3 class="m-t-10">API Management</h3>
                            <p>
                                Maximize and smplify exposure of your existing services. End to end solution for your next enterprise integration journey.
                                Regardless if you need only to transform your anterprise internally or your aim is to join the new trends of API economy business opportunities, we can help. 
                                We can help you to define the requirements and then select the best fit for your needs.
                            </p>
                            <p class="text-right m-b-0">
                                <a data-hover="{{'read_more.command.tooltip' | translate}}" ui-sref="api" class="btn btn-white m-r-5">{{"read_more.command.title" |  translate}}</a>
                                <a data-hover="{{'contact_me.command.tooltip' | translate}}" ui-sref="contactme" class="btn btn-primary">{{"contact_me.command.title" | translate}}</a>                            
                            </p>
                        </div>
          
                        <div class="tab-pane fade active in" id="nav-tab-solutions-iam">
                            <h3 class="m-t-10">Identity and Access Management - IAM</h3>
                            <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                      Integer ac dui eu felis hendrerit lobortis. Phasellus elementum, nibh eget adipiscing porttitor, 
                                      est diam sagittis orci, a ornare nisi quam elementum tortor. 
                                      Proin interdum ante porta est convallis dapibus dictum in nibh. 
                                      Aenean quis massa congue metus mollis fermentum eget et tellus. 
                                      Aenean tincidunt, mauris ut dignissim lacinia, nisi urna consectetur sapien, 
                                      nec eleifend orci eros id lectus.
                            </p>
                            <p class="text-right m-b-0">
                                <a data-hover="{{'read_more.command.tooltip' | translate}}" ui-sref="iam" class="btn btn-white m-r-5">{{"read_more.command.title" |  translate}}</a>
                                <a data-hover="{{'contact_me.command.tooltip' | translate}}" ui-sref="contactme" class="btn btn-primary">{{"contact_me.command.title" | translate}}</a>
                            </p>
                        </div>
                    </div>
                 </div>
                 <!-- end col-12 -->
            </div>
            <!-- end row -->                    
        </div>
    </div>
    <!-- end containter -->
  <!-- </div> -->
  