<!-- begin #client -->
<div id="solutions" class="content" data-scrollview="true">

  <!-- begin content-bg -->
    <div class="content-bg">
      <!-- <img src="img/client-bg.jpg" alt="Client" /> -->
      <!-- <img src="img/api-dev_2.png"  alt="Client"/> -->
    </div>
    <!-- end content-bg -->

    <!-- begin container -->
    <div class="container" data-animation="true" data-animation-type="fadeInUp">
      <h2 class="content-title">Solutions
          <br/><img src="img/Under-Construction-Transparent-180x180.png" height="130" width="180"></img>
      </h2>
  
      <div ng-controller="CarouselCtrl">
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active1">
              <img ng-src="{{slide.image}}" style="margin:auto;">
              <div class="carousel-caption">
                <h4>Slide {{$index}}</h4>
                <p>{{slide.text}}</p>
              </div>
            </slide>
          </carousel>
      </div>

      <!-- begin carousel -->
      <div id="myCarousel2" class="carousel slide" data-ride="carousel" data-interval="2000">
  
        <!-- begin carousel-indicators -->
        <ol class="carousel-indicators">
            <li data-target="#solutions" data-slide-to="0" class="active"></li>
            <li data-target="#solutions" data-slide-to="1" class=""></li>
            <li data-target="#solutions" data-slide-to="2" class=""></li>
        </ol>
        <!-- end carousel-indicators -->
  
        <!-- begin carousel-inner -->
        <div class="carousel-inner text-center" role="listbox">
          <!-- begin item -->
          <div class="item active">
            <span class="text-theme"><h3>API Management</h3></span>
            <!-- <blockquote> -->
              <!-- <i class="fa fa-quote-left"></i> -->
            <h4>
              Maximize and smplify exposure of your existing services. End to end solution for your next enterprise integration journey.
Regardless if you need only to transform your anterprise internally or your aim is to join the new trends of API economy business opportunities, we can help. 
We can help you to define the requirements and then select the best fit for your needs.
            </h4>
              <!-- <i class="fa fa-quote-right"></i> -->
            <!-- </blockquote> -->
          </div>
          <!-- end item -->
          <!-- begin item -->
          <div class="item">
            <span class="text-theme"><h3>PSD2 / Open Banking</h3></span>
            <!-- <blockquote> -->
              <!-- <i class="fa fa-quote-left"></i> -->
            <h4>
              Banks and fintechs are semaingly on the both sides of the border. We know that new business models emerge and partnership is the key to simultineous success.
Let us discuss with you your strategy and plans and we may find together best way to protect your customers and your business. <br />
            </h4>
              <!-- <i class="fa fa-quote-right"></i> -->
            <!-- </blockquote> -->
          </div>
          <!-- end item -->
          <!-- begin item -->
          <div class="item">
            <span class="text-theme"><h3>Third Party Governance</h3></span>
            <!-- <blockquote> -->
              <!-- <i class="fa fa-quote-left"></i> -->
            <h4>
              Sed tincidunt quis est sed ultrices. Sed feugiat auctor ipsum, sit amet accumsan elit vestibulum<br />
              fringilla. In sollicitudin ac ligula eget vestibulum.
            </h4>
              <!-- <i class="fa fa-quote-right"></i> -->
            <!-- </blockquote> -->
          </div>
          <!-- end item -->
        </div>
        <!-- end carousel-inner -->
        
        <div class="container">
          <a class="left carousel-control"  data-slide="prev" data-target="myCarousel2">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" data-slide="next" data-target="myCarousel2">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <!-- end carousel -->
      
      
    </div>
    <!-- end containter -->
  </div>
  <!-- end #client -->
  