<!-- begin #client -->
<div id="tabs" class="content has-bg bg-green" data-scrollview="true">
  <!-- begin content-bg -->
  <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a data-target="home" data-toggle="tab">Home</a></li>
      <li><a data-target="profile" data-toggle="tab">Profile</a></li>
      <li><a data-target="messages" data-toggle="tab">Messages</a></li>
      <li><a data-target="settings" data-toggle="tab">Settings</a></li>
  </ul>
  
  <div class="tab-content">
      <div class="tab-pane active" id="home">...</div>
      <div class="tab-pane" id="profile">...</div>
      <div class="tab-pane" id="messages">...</div>
      <div class="tab-pane" id="settings">...</div>
   </div>  
</div>

   <!-- <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a data-target="#home" data-toggle="tab">Home</a></li>
      <li><a data-target="#profile" data-toggle="tab">Profile</a></li>
      <li><a data-target="#messages" data-toggle="tab">Messages</a></li>
      <li><a data-target="#settings" data-toggle="tab">Settings</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="home">Home</div>
      <div class="tab-pane" id="profile">Profile</div>
      <div class="tab-pane" id="messages">Message</div>
      <div class="tab-pane" id="settings">Settings</div>
    </div> -->

  <!-- <script>
      jQuery(function () {
          jQuery('#myTab a:last').tab('show')
      })
  </script> 
-->
<!-- end #client -->
