<!-- begin #home -->
<div id="home" class="content has-bg home">
  <!-- begin container -->
  <div class="container home-content">
    <!-- <h1 class="text-blue header-text">@pplego</h1> -->
    <br />
    <br />
    
    <h4>{{"views.home.slogan" | translate}}</h4>
    <p>
      Applego&trade; is a IT consulting and development services provider located in Prague, Czech Republic.
      <br/>
      Our team is ready do analyze your business needs and we are always looking for the best , really FREE - no fees, no credit cards.
    </p>
    <br />
    
    <img src="img/api-dev_5.png"/>
    <br />
    
    <a href="#" class="btn btn-theme">Find out More</a>
    <a href="#" class="btn btn-outline">Let me in</a>
    <br />
    <br />
    
    or <a href="#">subscribe</a> newsletter
  </div>
  <!-- end container -->
</div>
<!-- end #home -->
