<!-- begin #header -->
<nav id="header" class="header navbar navbar-transparent navbar-fixed-top">
    <!-- begin container -->
    <div class="container" style="border:0px solid;" >
		<!-- begin navbar-header -->
   		<div class="navbar-header">
			<!-- <div class="collapse navbar-collapse" id="header-navbar"> -->
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a ui-sref="home" class="navbar-brand">
					<span class="brand-logo">
						<!-- <img src="img/applego_serif.png" height="32" width="132"></img> -->
						<!-- <img src="img/applego_logo_en_UK.png" height="32" width="132"></img> -->
						<img src="img/logo_applego-consulting.png" height="36" width="142"></img>
					</span> 
					<!-- <br/>
					<span class="h6 small"> Innovative solutions</span>			 -->
					
				</a>
			</div>
				<!-- <li> 
					<div ng-translate-language-select></div>
				</li> -->
			<div class="collapse navbar-collapse" id="header-navbar">
			
				<!-- begin navbar-collapse -->
				<ul class="nav navbar-nav navbar-left">
					<li><a data-hover="{{'views.header.menu.Services' | translate}}" ui-sref="services"><b>{{"views.header.menu.Services" | translate}}</b></a></li>
					<li><a data-hover="{{'views.header.menu.Solutions' | translate}}" ui-sref="solutions"><b>{{"views.header.menu.Solutions" | translate}}</b></a></li>
					<li><a data-hover="{{'views.header.menu.Offer' | translate}}" ui-sref="offer"><b>{{"views.header.menu.Offer" | translate}}</b></a></li>
					<li><a data-hover="{{'views.header.menu.About' | translate}}"    ui-sref="about"><b>{{"views.header.menu.About" | translate}}</b></a></li>
					<li><a data-hover="{{'views.header.menu.Contacts' | translate}}"  ui-sref="contacts"><b>{{"views.header.menu.Contacts" | translate}}</b></a></li>
				</ul>

				
				<ul class="nav navbar-nav navbar-right">
					
					<!-- <li>
						<a ui-sref="login">
							<span class="form-control hidden-md hidden-sm hidden-xs">Login</span>
						</a>
					</li>

					<li>
						<a ui-sref="register">
							<span class="form-control hidden-md hidden-sm hidden-xs">Register</span>
						</a>
					</li> -->

					<!-- <li>
						<div ng-translate-language-select></div>
					</li> -->

					<!-- <li class="divider"></li> -->
					
					<li ui-sref-active="active">
							<!-- <span class="hidden-md hidden-sm hidden-xs">Login</span> -->
							<user-salutation salute="'Hello '" title="'Mr.'" first-name="'Alan'" last-name="'Rickman'"></user-salutation>
						</a>
					</li>
					<!-- 
						<li class="active dropdown">
							<a href="#Profile" data-click="scroll-to-target" data-target="#" data-toggle="dropdown">HOME <b class="caret"></b></a>
							<ul class="dropdown-menu dropdown-menu-left animated fadeInDown">
								<li><a href="user_profile.html">Profile settings</a></li>
								<li><a href="Cancel_subscription.html">Cancel subscription</a></li>
								<li><a href="Sign_off.html">Sign off</a></li>
							</ul>
						</li> 
					-->

					
					<!-- <li>
							<form class="navbar-form full-width ng-pristine ng-valid">
								<input  type="text"   class="form-control" placeholder="Enter keyword">
								<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
							</form>
					</li> -->
					<li>
						<a ui-sref="login">
							<span class="hidden-md hidden-sm hidden-xs">{{"views.header.sign-in" | translate}}</span>
						</a>
					</li>
					<li>
						<a ui-sref="register">
							<span class="hidden-md hidden-sm hidden-xs">{{"views.header.sign-up" | translate}}</span>
						</a>
					</li>
					
					<div ng-translate-language-select></div>
				
				</ul>
			<!-- </div>		 -->
			<!-- end navbar-collapse -->
		</div>
		<!-- end navbar-header -->

	</div>
    <!-- end container -->
</nav>
<!-- end #header -->
