<div id="team" class="content" data-scrollview="true">
  <!-- begin container -->
  <div class="container">
    <h2 class="content-title">Our Team</h2>
    <p class="content-desc">
      We started small, just two. Well small in the number of team members, not small on ideas.
      Primarily we are IT guys, but our ideas and projects from the past span accross many business areas and ...

      Our partnership dates since the dark ages of cold war (don't warry if you don't remember that time or even was not born).
      We met when we were young and spent two wonderfull years in the millitary services of our ...
       
      We
    </p>
    <!-- begin row -->
    <div class="row">
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-4">
        <!-- begin team -->
        <div class="team">
          <div class="image" data-animation="true" data-animation-type="flipInX">
            <img src="img/emo.jpg" alt="Ryan Teller" />
          </div>
          <div class="info">
            <h3 class="name">Emil Korladinov</h3>
            <div class="title text-theme">Founder</div>
            <p>Developing software since ... jurasic ages.</p>
            <div class="social">
              <a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
              <a href="#"><i class="fa fa-twitter fa-lg fa-fw"></i></a>
              <a href="#"><i class="fa fa-google-plus fa-lg fa-fw"></i></a>
            </div>
          </div>
        </div>
        <!-- end team -->
      </div>
      <!-- end col-4 -->
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-4">
        <!-- begin team -->
        <div class="team">
          <div class="image" data-animation="true" data-animation-type="flipInX">
            <img src="img/reinvent160.jpg" width="" alt="Pavlin Zahariev" />
          </div>
          <div class="info">
            <h3 class="name">Pavlin Zahariev</h3>
            <div class="title text-theme">Co-Founder</div>
            <p>Loves to "reinvent" the wheel. You know, the first wheels weren't exactly round.</p>
            <div class="social">
              <a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
              <a href="#"><i class="fa fa-twitter fa-lg fa-fw"></i></a>
              <a href="#"><i class="fa fa-google-plus fa-lg fa-fw"></i></a>
            </div>
          </div>
        </div>
        <!-- end team -->
      </div>
      <!-- end col-4 -->
      <!-- begin col-4 -->
      <div class="col-md-4 col-sm-4">
        <!-- begin team -->
        <div class="team">
          <div class="image" data-animation="true" data-animation-type="flipInX">
            <img src="img/user-3.jpg" alt="Mia Donovan" />
          </div>
          <div class="info">
            <h3 class="name">May be You?</h3>
            <div class="title text-theme">Contributor, Business Partner, FinTech expert</div>
            <p>We are growing. Drop us a note, if you like our ideas, attitude and commitment to change finacial world./p>
            <!--
            <div class="social">
              <a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
              <a href="#"><i class="fa fa-twitter fa-lg fa-fw"></i></a>
              <a href="#"><i class="fa fa-google-plus fa-lg fa-fw"></i></a>
            </div>
            -->
          </div>
        </div>
        <!-- end team -->
      </div>
      <!-- end col-4 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
