<div id="contacts" class="content bg-silver-lighter" data-scrollview="true">
  <!-- begin container -->
  <div class="container">
    <h2 class="content-title">Contact Us</h2>

    <!-- begin row -->
    <div class="row">
      <!-- begin col-6 -->
      <div class="col-md-6" data-animation="true" data-animation-type="fadeInLeft">
        <h3>If you have a project you would like to discuss, get in touch with us.</h3>
        <p>
          Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus.
        </p>
        <p>
          <strong>Applego s.r.o.</strong><br />
          Petra Rezka 1079/14<br />
          140 00 Praha 4<br />
          Czech Republic<br />
          
          TAX ID: CZ27183271

          Phone: +420 776076123<br />
          email: info@applego.com

        </p>
        <p>
          <span class="phone">+11 (0) 123 456 78</span><br />
          <a href="mailto:info@applego.com">info@applego.com.com</a>
        </p>
      </div>
      <!-- end col-6 -->
      <!-- begin col-6 -->
      <div class="col-md-6 form-col" data-animation="true" data-animation-type="fadeInRight">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-md-3">Name <span class="text-theme">*</span></label>
            <div class="col-md-9">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3">Email <span class="text-theme">*</span></label>
            <div class="col-md-9">
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3">Message <span class="text-theme">*</span></label>
            <div class="col-md-9">
              <textarea class="form-control" rows="10"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3"></label>
            <div class="col-md-9 text-left">
              <button type="submit" class="btn btn-theme btn-block">Send Message</button>
            </div>
          </div>
        </form>
      </div>
      <!-- end col-6 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
