<!-- begin #home -->
	
  
<div id="home" class="content has-bg home">
  <!-- begin container -->
  <div class="container home-content">
    <!-- <h1 class="text-blue header-text">@pplego</h1> -->
    <!-- Draggable DIV -->
    <div id="announcement">
      <center>
          <p><marquee>Latest News: WEBSITE IS STILL UNDER MAINTENANCE!</marquee></p>
      </center>
  </div>
  
    <!-- <h4>{{"views.home.welcome" | translate}}</h4> -->
    <br />
    <!-- <img src="img/PSD2.png" alt="PSD2" style="float: left;left: ;;"/> -->
    <!-- <img src="img/puzzle_plain2.png"/> -->
    <img src="img/values-puzzle.svg" alt="Our Values" width="400px" height="400px"/>
    <br />
    <!-- <br /> -->
    <!-- <h4>{{"views.home.slogan" | translate}}</h4> -->
    
    
    
    <!-- <a href="#" class="btn btn-theme">Find out More</a> -->
    <!-- <a href="#" class="btn btn-outline">Let me in</a> -->
    <br />
    <br />
    
    or <a href="#">subscribe</a> newsletter
  </div>
  <!-- end container -->
</div>
<!-- end #home -->
